<img ng-click="doTheBack()" src="backward.png" style="width: 32px"><br>
Settings<br>
Comment   : <input type="text" ng-model="settings.comments" class="settings_input"><br>
Reply     : <input type="text" ng-model="settings.reply" class="settings_input"><br>
Translate : <input type="text" ng-model="settings.translate" class="settings_input"><br>
Year Container : <input type="text" ng-model="settings.year_container" class="settings_input"><br>
Years : <input type="text" ng-model="settings.years" class="settings_input"><br>
Highlights : <input type="text" ng-model="settings.highlights" class="settings_input"><br>
All Stories : <input type="text" ng-model="settings.all_stories" class="settings_input"><br>
More : <input type="text" ng-model="settings.more" class="settings_input"><br>
"See More" Post: <input type="text" ng-model="settings.seemoreposts" class="settings_input"><br>
"See More" Comment: <input type="text" ng-model="settings.seemorecomments" class="settings_input"><br>
"See Translation" : <input type="text" ng-model="settings.seetranslation" class="settings_input"><br>
Fixed Top Blue Bar: <input type="text" ng-model="settings.fixed_blue_bar" class="settings_input"><br>
Timeout : <input type="text" ng-model="settings.timeout" class="settings_input"><br><br>
Slice : <input type="text" ng-model="settings.slice" class="settings_input"><br><br>
Scrolling Interval: <input type="text" ng-model="settings.scroll_interval" class="settings_input"><br><br>
<button class='btn btn-primary button primary' ng-click="saveChanges()">Save Changes</button>


